@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

body{
    background-color: #333333bf;
    background-image: url(../images/SL-043021-42650-24.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-clip: border-box;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
}